<div class="container">
  <h1>Craigslist Jr.</h1>

  <form action="/posts" method="get">
    <% Category.all.each do |category| %>
      <input type="radio" name="category" value="#{category.id}"><%= category.name %>
    <% end %>
    <br>
    <input type="submit" value="Enter">
  </form>
</div>
