<div class="container">
  <h1>Craigslist Jr.</h1>

  <h2>Your post has been successfully created</h2>
  <p>Your access key is: <%= session[:key] %></p>
  <p>This key is needed to edit your post, please keep it somewhere safe.</p>

  <a href="/posts">See your post</a>
</div>